.sansserif () { font-family: 'Rambla', sans-serif; }
.display () { font-family: 'Rambla', sans-serif; }
.serif () { font-family: 'Domine', serif; }
.mono () { font-family: 'Ubuntu Mono', monospace; }
