<!-- Styles -->
<link rel="stylesheet" href="/s/css/reset.css">
<link rel="stylesheet" href="/s/css/base.css">
<link rel="stylesheet" href="/s/css/misc.css">
<link rel="stylesheet" href="/s/css/posts.css">

<link rel="stylesheet" href="/s/css/pygments.css">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rambla:400,700|Ubuntu+Mono|Domine:400,700">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.0/css/font-awesome.min.css">

<link rel="shortcut icon" href="/s/img/favicon.ico">
