#body.post hgroup,
#body[alt="posts"] hgroup {
  margin: 0 0.5em 1.1em;
  font-size: 1.3em;
}
#body.post hgroup h3,
#body[alt="posts"] hgroup h3 {
  float: left;
  margin: 0;
}
#body.post hgroup time,
#body[alt="posts"] hgroup time {
  float: right;
  margin: 0;
  color: #5e5e5e;
  font-family: 'Rambla', sans-serif;
}
#body.post hgroup:after,
#body[alt="posts"] hgroup:after {
  display: table;
  content: "";
  clear: both;
}
#body.post a.tldr,
#body[alt="posts"] a.tldr {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
#body.post a.tldr  + div,
#body[alt="posts"] a.tldr  + div {
  opacity: 0.0;
  display: inline-block;
  -webkit-transition: opacity 0.7s ease-in;
}
#body.post a.tldr  + div.visible,
#body[alt="posts"] a.tldr  + div.visible {
  opacity: 1.0;
}
#body.post p a,
#body[alt="posts"] p a {
  font-variant: small-caps;
}
#body.post #disqus_thread,
#body[alt="posts"] #disqus_thread {
  border-top: solid 1px #b8b8b8;
  margin: 15px 0 0;
  padding-top: 15px;
}
@media screen and (max-width: 1024px) {
  section#pager {
    margin: 0 auto;
    left: 0;
  }
}
@media screen and (max-width: 874px) {
  section#pager {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
#body.paged {
  margin-bottom: 1.4em;
  font-family: 'Rambla', sans-serif;
}
#body.paged #pager {
  position: fixed;
  bottom: 0;
  width: 874px;
  height: 1.2em;
  padding: 0.1em 25px;
  border-top: 1px solid #b8b8b8;
  background: #dedede;
  text-align: center;
}
#body.paged #pager .prev,
#body.paged #pager .next {
  position: absolute;
}
#body.paged #pager .prev {
  left: 25px;
}
#body.paged #pager .next {
  right: 25px;
}
#body.paged #pager span.prev,
#body.paged #pager span.next {
  color: #8c8c8c;
}
#body ul.posts {
  list-style: none;
}
#body ul.posts li {
  margin-left: 20px;
}
#body ul.posts li:before {
  font-family: FontAwesome;
  content: "\f101";
}
#body ul.posts li time {
  font-style: italic;
  color: #848484;
  font-size: 0.8em;
}
#body ul.posts li a {
  color: #cb4b16;
  text-decoration: underline;
}
#body ul.posts li a:hover {
  color: #ed855a;
}
