<!doctype html>
<head>
   <title>{{ site.title }}</title>

   {% include meta.html %}
   {% include styles.html %}
   {% include scripts.html %}
</head>

<body>
   <header>
      <h1>
        <span class="user">{{ site.author }}</span>
        <span class="divider">@</span>
        <span class="site">{{ site.title }}</span>
        {% if page.title %}
        <span class="divider">:</span>
        <span class="title">{{ page.title }}</span>
        {% endif %}
      </h1>
   </header>
   <nav>
      <a href="/">Home</a>
      <a href="/about.html">About</a>
      <a href="http://github.com/jdost">Github</a>
      <a href="/projects.html">Projects</a>
      <a href="/feed.xml">Feed</a>
   </nav>
   <div id="body" alt="{{ page.title }}">
   {{ content }}
   </div>
</body>
